@model IEnumerable<UniversityManagementSystem.Models.Department>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />


<div class="row">
    <div class="col-6">
        <h2 class="text-info">View Departments</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info text-white"><i class="fa-solid fa-plus"></i>&nbsp;Add New Department</a>
    </div>
</div>
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <partial name="_ButtonPartial" model=@item.Id />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

