@model UniversityManagementSystem.Models.Teacher

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-info">Edit Teacher</h2>
<form id="edit-teacher" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="ContactNo"></label>
            </div>
            <div class="col-5">
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>

            </div>

        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="DesignationId"></label>
            </div>
            <div class="col-5">
                <select asp-for="DesignationId" class="form-select" asp-items="@ViewBag.Designations">
                    <option>--Select Designation--</option>
                </select>
                <span asp-validation-for="DesignationId" class="text-danger"></span>
                <span class="text-danger">@ViewBag?.message</span>
            </div>

        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="DepartmentId"></label>
            </div>
            <div class="col-5">
                <select asp-for="DepartmentId" class="form-select" asp-items="@ViewBag.Departments">
                    <option>--Select Department--</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>

            </div>

        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="CreditsToBeTaken"></label>
            </div>
            <div class="col-5">
                <input type="number" asp-for="CreditsToBeTaken" class="form-control" />
                <span asp-validation-for="CreditsToBeTaken" class="text-danger"></span>

            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
