@model UniversityManagementSystem.Models.AssignCourseVM

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Assign Course</h2>
<form id="assign-course" asp-action="AssignCourse" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Department</label>
            </div>
            <div class="col-5">
                @Html.DropDownList("DepartmentId", ViewBag.Departments as SelectList, "--Select Department--", new { id = "ddlDepartments", @class = "form-select" })
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Teacher</label>
            </div>
            <div class="col-5">
                @Html.DropDownList("TeacherId", ViewBag.Teachers as SelectList, "--Select Teacher--", new { id = "ddlTeachers", @class = "form-select" })
                <span asp-validation-for="TeacherId" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Credit to be taken</label>
            </div>
            <div class="col-5">
                <input asp-for="CreditsToBeTaken" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Remaining Credit</label>
            </div>
            <div class="col-5">
                <input asp-for="RemainingCredit" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Course Code</label>
            </div>
            <div class="col-5">
                @Html.DropDownList("CourseId", ViewBag.Courses as SelectList, "--Select Course--", new { id = "ddlCourses", @class = "form-select" })
                <span asp-validation-for="CourseId" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Name</label>
            </div>
            <div class="col-5">
                <input asp-for="CourseName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label>Credit</label>
            </div>
            <div class="col-5">
                <input asp-for="CourseCredit" readonly class="form-control" />
                <span class="text-danger">@ViewBag?.Message</span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Assign" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#ddlDepartments").change(function () {
                var departmentId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Course/GetTeachersByDepartmentId",
                    data: { departmentId: departmentId },
                    success: function (teachers) {

                        // Populate the cities dropdown
                        var ddlTeachers = $("#ddlTeachers");
                        ddlTeachers.empty();
                        $("#CourseName").val("");
                        $("#CourseCredit").val(0);
                        $("#CreditsToBeTaken").val(0);
                        $("#RemainingCredit").val(0);
                        ddlTeachers.append($("<option></option>").val("").html("--Select Teacher--"));

                        $.each(teachers, function (index, teacher) {
                            // console.log(teacher);
                            ddlTeachers.append($("<option></option>").val(teacher.id).html(teacher.name));
                        });
                        getAndPopulateCourses();
                    }
                });
            });
            function getAndPopulateCourses() {
                var departmentId = $("#ddlDepartments").val();

                // Second AJAX call to get courses based on the selected department
                $.ajax({
                    type: "POST",
                    url: "/Course/GetCoursesByDepartmentId",
                    data: { departmentId: departmentId },
                    success: function (courses) {
                        var ddlCourses = $("#ddlCourses");
                        ddlCourses.empty();
                        ddlCourses.append($("<option></option>").val("").html("--Select Course--"));

                        $.each(courses, function (index, course) {
                            // console.log(course);
                            ddlCourses.append($("<option></option>").val(course.id).html(course.code));
                        });
                    }
                });
            };

            $("#ddlTeachers").change(function () {
                var teacherId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Course/GetTeacherByTeacherId",
                    data: { teacherId: teacherId },
                    success: function (teacher) {

                        $("#CreditsToBeTaken").val(teacher?.creditsToBeTaken);
                        $("#RemainingCredit").val(teacher?.remainingCredit);

                        
                    }
                });
            });
            $("#ddlCourses").change(function () {
                var courseId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Course/GetCourseByCourseId",
                    data: { courseId: courseId },
                    success: function (course) {

                        console.log(course)
                        $("#CourseName").val(course?.name);
                        $("#CourseCredit").val(course?.credit);

                     
                    }
                });
            });
        });

    </script>
}
