@model UniversityManagementSystem.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Register Student</h2>
<form id="create-student" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="ContactNo"></label>
            </div>
            <div class="col-5">
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>

            </div>

        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="RegistrationDate"></label>
            </div>
            <div class="col-5">
                <input type="text" readonly asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
        </div>


        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="DepartmentId"></label>
            </div>
            <div class="col-5">
                <select asp-for="DepartmentId" class="form-select" asp-items="@ViewBag.Departments">
                    <option>--Select Department--</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                <span class="text-danger">@ViewBag?.message</span>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#RegistrationDate").datepicker({
                showAnim: "clip",
                changeMonth:true,
                changeYear:true
            });
        });
    </script>
}
